
<%= form_tag(session_login_path) do %>

<div class="login-page-wrapper">

  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

  <div class="login-page-login-box">
    <div class="login-box-header">
      Log In
    </div>
    <div class="login-box-input-wrapper">

  <p class="login-box-user-id" ><%= label_tag :name %>
  <%= text_field_tag :name %></p>

  <p class="login-box-user-password"><%= label_tag :password %>
  <%= password_field_tag :password %></p>

  <%= submit_tag "Log in", class: "login-box-login-btn" %>


<%= link_to 'Sign Up', new_author_path, class: "login-box-login-btn" %>

<% end %>

  </div>
</div>
</div>
