<div class="survey-designer-wrapper">

  <div class="survey-designer-title">
    Survey Designer
  </div>
  <div class="survey-designer-survey-wrapper">

<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="survey-designer-survey-title-description">
    <div class="survey-title-label">
      <%= f.label :title %><br>
    </div>
    <div class="new-survey-title">
      <%= f.text_field :title %>
    </div>
    <div class="survey-description-label">
      <%= f.label :description %><br>
    </div>
    <div class="new-survey-description">
      <%= f.text_area :description %>
    </div>
  </div>

  <% if @survey.id %>

    <div class="field">
      <%= f.label :link %><br>
    </div>
    <div class="field">
      <%= f.text_field :link, :value => url_for( :controller => 'surveys', :action => 'take', :only_path => false ), :readonly => true, :size => 50 %>
    </div>
  <% end %>
  <% f.label :author_id %><br>
  <%= f.hidden_field :author_id, :value => session[:author_id] %>

  <h3> Questions </h3>


    <%= f.fields_for :questions do |ff| %>
    <div>
      <%= ff.text_field :text, placeholder: "Your Question" %>
      <%= ff.text_field :order_number, placeholder: "Order"  %>
      <%= ff.select :question_type, [['YesNo', 'YesNo' ], ['ShortAnswer', 'ShortAnswer'], ['LongAnswer', 'LongAnswer']] %>
      Required? <%= ff.check_box :required %>
      Delete? <%= ff.check_box :obliterate %>
      <%= ff.hidden_field :survey_id, :value => @survey.id%>
    <!-- </div> -->
    <% end %>

  <!-- <div> -->
    <input type="submit" name="add-question-btn" value="Add Question" id="add-question-btn" class="survey-designer-add-question-btn">
    <!-- <input type="submit" name="add-question-btn" value="Add Question" id="add-question-btn" class="survey-designer-add-new-question-btn"> -->
  </div>

  <div class="survey-designer-btn-wrapper actions">
    <%= f.submit 'Create Survey', :class => 'survey-designer-save-btn actions'%>
    <!-- <div class="survey-designer-cancel-btn">Cancel</div> -->
  </div>

<% end %>

 </div>
</div>
