<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br>
    <%= f.number_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>

  <h3> Questions </h3>
    <%= f.fields_for :questions do |ff| %>
    <div>
      <%= ff.text_field :text, placeholder: "Your Question" %>
      <%= ff.text_field :order_number, placeholder: "Order"  %>
      <%= ff.text_field :question_type, placeholder: "Question Type" %>
      <%= ff.hidden_field :survey_id, :value => params["survey_id"]%>


    </div>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
