<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <% if @survey.id %>
    <div class="field">
      <%= f.label :link %><br>
      <%= f.text_field :link, :value => url_for( :controller => 'surveys', :action => 'take', :only_path => false ), :readonly => true, :size => 50 %>
    </div>
  <% end %>
  <% f.label :author_id %><br>
  <%= f.hidden_field :author_id, :value => session[:author_id] %>

  <h3> Questions </h3>
    <%= f.fields_for :questions do |ff| %>
    <div>
      <%= ff.text_field :text, placeholder: "Your Question" %>
      <%= ff.text_field :order_number, placeholder: "Order"  %>
      <%= ff.select :question_type, [['YesNo', 'YesNo' ], ['ShortAnswer', 'ShortAnswer'], ['LongAnswer', 'LongAnswer']] %>
      <%= ff.hidden_field :survey_id, :value => @survey.id%>
    </div>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
