<h1> Survey  Information</h1>
<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @survey.author_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @survey.link %>
</p>


<h1> Survey Questions</h1>
<br>
<% @survey.questions.order(:order_number).each do |question| %>
  <p><strong>Question Order Number:</strong>
  <%= question.order_number %> </p>
  <p><strong>Question Text:</strong>
  <%= question.text %></p>
  <p><strong>Question Was Required:</strong>
  <%= question.required ? question.required : "false"  %></p>
  <br>
  <% question.answers.each do |question_response| %>
    <p>User #<%= question_response.taker_id %> Response: <%= question_response.text %></p>
    <p></p>
    <br>
  <% end %>

<% end %>


<%= link_to 'Back', surveys_path %>
