<!DOCTYPE html>
<html>
<head>
  <title>SurveyOpossum</title>
  <link type="text/css" rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <header class="global-header">
      <div class="global-header-title">
        Survey <img alt="Opossum" height="50" width="50" src="<%= asset_url("possum-icon.png")%>" class="possum-logo"> Opossum
      </div>
      <ul class="global-nav-container">
        <li class="global-nav-btn" id="my-survey-btn"><%= link_to "My Surveys", { controller: "session", action: "login" }, class: "global-nav-btn-link" %></li>
        <li class="global-nav-btn" id="survey-deisgner-btn"><a href="#" class="global-nav-btn-link">Survey Designer</a></li>
        <% if session[:author_id] %>
          <li class="global-nav-btn" id="profile-btn">
            <%= link_to_if(session[:author_id] != nil, "Profile", { controller: "authors", action: "show", id: session[:author_id] }, class: "global-nav-btn-link")  %></li>
        <% else %>
          <li class="global-nav-btn" id="my-survey-btn"><%= link_to "Profile", { controller: "session", action: "login" }, class: "global-nav-btn-link" %></li>
        <% end %>
        <li class="global-nav-btn" id="support-btn"><a href="#" class="global-nav-btn-link">Support</a></li>
        <% if session[:author_id] %>
          <li class="global-nav-btn" id="profile-btn">
            <%= link_to_if(session[:author_id] != nil, "Logout", { controller: "session", action: "logout" }, class: "global-nav-btn-link")  %></li>
        <% else %>
          <li class="global-nav-btn" id="my-survey-btn"><%= link_to "Logout", { controller: "session", action: "login" }, class: "global-nav-btn-link" %></li>
        <% end %>
      </ul>
    </header>

    <%= yield %>

    <footer class="global-footer-container" id="">
      <div class="global-footer-top">
<div class="global-footer-top-wrapper">
        <div class="global-footer-product-container">
          <div class="global-footer-product-title">
            Product
          </div>
          <div class="global-footer-product">
            <%= link_to "My Surveys", { controller: "session", action: "login" } %>
          </div>
          <div class="global-footer-product">
            <a href="#">Survey Designer</a>
          </div>
          <div class="global-footer-product">
            <% if session[:author_id] %>
              <%= link_to "Profile", { controller: "authors", action: "show", id: session[:author_id] } %>
            <% else %>
              <%= link_to "Profile", { controller: "session", action: "login" } %>
            <% end %>
          </div>
          <div class="global-footer-product">
            <a href="#">Support</a>
          </div>
          <div class="global-footer-product">
            <% if session[:author_id] %>
              <%= link_to "Logout", { controller: "session", action: "logout" } %>
            <% else %>
              <%= link_to "Logout", { controller: "session", action: "login" } %>
            <% end %>
          </div>
        </div> <!--End global-footer-product-->
        <div class="global-footer-company-container">
          <div class="global-footer-company-title">
            Company
          </div>
          <div class="global-footer-company">
            <a href="#">About Us</a>
          </div>
          <div class="global-footer-company">
            <a href="#">Blog</a>
          </div>
          <div class="global-footer-company">
            <a href="#">Jobs</a>
          </div>
          <div class="global-footer-company">
            <a href="#">Contact Us</a>
          </div>
        </div>  <!--End global-footer-company-->
        <div class="global-footer-connect-container">
          <div class="global-footer-connect-title">
            Connect
          </div>
          <div class="global-footer-connect">
            <a href="#"><i class="fa fa-twitter"></i></a>
          </div>
          <div class="global-footer-connect">
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
          <br>
          <div class="global-footer-connect">
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
          <div class="global-footer-connect">
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>  <!--End global-footer-connect-->
</div>
      </div>
      <div class="sub-global-footer">
        <div class="sub-global-footer-teamname">You Got Surved</div>
        <div class="sub-global-footer-team">
          <div class="sub-global-footer-teammembers">Andrew</div>
          <div class="sub-global-footer-teammembers">Marcia</div>
          <div class="sub-global-footer-teammembers">Dennis</div>
          <div class="sub-global-footer-teammembers">Joseph</div>
        </div>
      </div> <!--End sub-global-footer -->
    </footer>

  </body>
</html>
